---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">404 Not Found</h1>
    <p class="text-white text-center">This is fine</p>
    <p class="text-white text-center">¯\_(ツ)_/¯</p>
    <img src="https://media1.tenor.com/m/FcVg5W9zZJQAAAAC/error.gif" />
  </div>
</Layout>